<!DOCTYPE html>
<html>

<head>
    <title>Click History</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        ul {
            list-style-type: disc;
        }

        li {
            margin: 5px 0;
        }
    </style>
</head>

<body>
    <h2>Click History for: <%= shortUrl %>
    </h2>
    <h2>Total Clicks Count: <%= clickHistory.length %>
    </h2>
    <ul>
        <% clickHistory.forEach(item=> { %>
            <li>
                <%= new Date(item.timeStamp).toLocaleString() %>
            </li>
            <% }) %>
    </ul>
</body>

</html>